body {
    margin: 0;
    background-color: aquamarine;
}

.gameboard {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 200px 200px 200px 100px 130px;
    grid-template-areas:    "header header header"
                            "board1 board2 board3"
                            "board4 board5 board6"
                            "board7 board8 board9"
                            "footerTurn footerWin footerScore"
                            "footerReset footerReset jam"                                                       
}


.header {
    text-align: center;
    justify-content: center;
    grid-area: header;
    color: black;
    background-color: aqua;
    border: 2px solid black;
}


.board1 { 
    grid-area: board1;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=1");
    border-color: black;
    font-size: 180px;
    text-align: center;
}

.board2 { 
    grid-area: board2;
    border-top: 2px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=2");
    border-color: black;
}

.board3 { 
    grid-area: board3;
    border-top: 2px solid black;
    border-left: 8px solid black;
    border-right: 2px solid black;
    border-bottom: 8px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=11");
    border-color: black;
}

.board4 { 
    grid-area: board4;
    border-top: 8px solid black;
    border-left: 2px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=3");
    border-color: black;
}

.board5 { 
    grid-area: board5;
    border-top: 8px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=5");
    border-color: black;
}

.board6 { 
    grid-area: board6;
    border-top: 8px solid black;
    border-left: 8px solid black;
    border-right: 2px solid black;
    border-bottom: 8px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=12");
    border-color: black;
}

.board7 { 
    grid-area: board7;
    border-top: 8px solid black;
    border-left: 2px solid black;
    border-right: 8px solid black;
    border-bottom: 2px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=9");
    border-color: black;
}

.board8 { 
    grid-area: board8;
    border-top: 8px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-bottom: 2px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=15");
    border-color: black;
}

.board9 { 
    grid-area: board9;
    border-top: 8px solid black;
    border-left: 8px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-image: url("http://placekitten.com/g/200/200?image=14");
    border-color: black;
}

.footerTurn {
    color: black;
    grid-area: footerTurn;
    background-color: aqua;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 0px solid black;
    border-bottom: 2px solid black;

}

.footerWin {
    color: black;
    grid-area: footerWin;
    background-color: aqua;
    border-top: 2px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 2px solid black;
}

.footerScore {
    color: black;
    background-color: aqua;
    grid-area: footerScore;
    border-top: 2px solid black;
    border-left: 0px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.footerReset {
    grid-area: footerReset;
    border: 2px  solid black;
    text-align: center;
    font-size: 48px;
    background-color: aqua;
    color:black;
}

#youtube-audio {
    grid-area: jam;
    background-color: aqua;
    border: 2px  solid black;
}

#rematch {
    justify-items: center;
    align-items: center;
    background-color: gray;
    font-size: 32px;
    width: 200px;
    height: 60px;
    
}

#rematch:hover {
    background-color: black;
    color: white;
}